langgraph
langchain
langchain-community
langchain-core
langchain-tavily

psycopg[binary]
psycopg_pool

python-dotenv
tavily-python
requests
langgraph-checkpoint-postgres
airportsdata
pycountry
fastapi

langchain-google-genai
google-generativeai

uvicorn
jinja2